@model ComfyLearn.Models.FAQ

@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutAdmin";
}

<h2>Novi FAQ</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pitanje" class="control-label"></label>
                <input asp-for="Pitanje" class="form-control" />
                <span asp-validation-for="Pitanje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Odgovor" class="control-label"></label>
                <textarea asp-for="Odgovor" class="form-control"></textarea>
                <span asp-validation-for="Odgovor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.tiny.cloud/1/4ct36vdz3ght829np0fqcfgx1sttod83q5540z5ibzvxhkt2/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>

    tinymce.init({
        selector: "textarea",
        plugins: "lists",
        menubar: "file edit format"
    });
    </script>
}
